div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 300px;
}

p {
    display: flex;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 0;
}